body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .teacher-button {
    background-color: blue;
    color: white;
  }
  
  .student-button {
    background-color: blue;
    color: white;
  }
  
  .teacher-button:hover, .student-button:hover {
    background-color: green;
  }